.WelcomeBoard{
    background: rgb(106,197,240);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    font-family: Impact;
    font-size: 40px;
}
.Welcome-message{
    display: flex;
    justify-content: center;
    color: black;
    font-weight: bold;
}
.Welcome-title{
    display: flex;
    justify-content: center;
    color: white;
}